<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name" />

    <!-- 定义日志目录的基准路径 -->
    <property name="LOG_HOME" value="D:/frame/logs"/>

    <!-- 定义一个 appender 用于 DEBUG 级别日志 -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/debug/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/debug/%d{yyyy-MM-dd}/debug.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${applicationName} %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta([%-15.15(%thread)]) [%X{traceId}] %cyan( %-50.50(%logger{50} )) : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义一个 appender 用于控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${applicationName} %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta([%-15.15(%thread)]) [%X{traceId}] %cyan( %-50.50(%logger{50} )) : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- MyBatis-Plus 和 MyBatis 日志 -->
    <logger name="com.baomidou.mybatisplus" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.apache.ibatis" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.apache.ibatis.binding" level="TRACE" additivity="false">
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.apache.ibatis.executor" level="TRACE" additivity="false">
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 根日志级别设置 -->
    <root level="DEBUG">
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
